<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/normalize.css'>
		<link rel='stylesheet' href='/stylesheets/barebones.css'>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		<script src="/javascripts/shuffle.js"></script>
		<script src="/javascripts/voting.js"></script>
	</head>
	<body>
		<%- include('header') %>
		<div class="grid-container.full">
			<div class="center_responsively">
				<h3>Hot off the press:</h3>
			</div>
			<form method="post" onsubmit="copyContent()" action="/posts/submit">
				<div class="listicle_generator listicle center_responsively">
					<h2 id="content" class="listicle_content"><%= content %></h2>
					<input type="hidden" id="seed" name="seed" value="<%= seed %>">
					<input type="hidden" id="formContent" name="content">
					<div class="flex_grid">
							<button id="shuffle" type="button" class="button action_button"
									onclick="generate()">Shuffle</button>
							<input type="submit" class="button-primary action_button" value="Submit">
					</div>
				</div>
			</form>
			<div class="center_responsively" id="recent">
				<h3>Recent Submissions:</h3>
				<% posts && posts.forEach(function(post) { %>
					<%- include('listicle', {post: post}) %>
				<% }); %>
			</div>
		</div>
	</body>
</html>
