<!DOCTYPE html>
<div class="listicle">
	<div class="listicle_inner">
		<%- include('listicle_voting', { post: post }) %>
		<div class="listicle_not_voting">
			<h2 class="listicle_content"><%= post.content %></h2>
		</div>
	</div>
	<div class="listicle_footer">
		<% if (post.user.display_name) { %>
			<a class="userlink" href="/users/<%= post.user._id %>"><%= post.user.display_name %></a>
		<% } %>
		<%- include('timestamp', {timestamp: post.timestamp}) %>
	</div>
</div>
