<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/normalize.css'>
		<link rel='stylesheet' href='/stylesheets/barebones.css'>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body>
		<%- include('header') %>
		<div class="grid-container.full">
			<div class="center_responsively">
				<h3><%= user.name ? user.name : `Anonymous Clicker (${user.address})` %></h3>
			</div>

			<% posts.forEach(function(post) { %>
			<div class="listicle">
				<h2 class="listicle_content"><%= post.content %></h2>
				<p class="timestamp"><%= post.timestamp.toDateString() %></p>
			</div>
			<% }); %>
		</div>
	</body>
</html>
